<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>404</title>
    <link rel="stylesheet" href="css/style.css"/>
</head>
<body>
    <p>404 Error Lorem ipsum, dolor sit amet consectetur adipisicing elit. Dolorem rem officia aliquid voluptatibus voluptate temporibus, animi tempora provident impedit recusandae magni nihil, voluptas ducimus aspernatur dignissimos laudantium eveniet deleniti numquam.</p>
    
</body>
</html>