<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Newpage</title>
    <link rel="stylesheet" href="css/style.css"/>
</head>
<body>
    <p>New Page Lorem ipsum dolor sit amet consectetur adipisicing elit. Labore optio hic aliquid alias, ea vero libero animi exercitationem sapiente molestiae explicabo recusandae inventore culpa eum magnam quisquam quis commodi voluptatum?</p>
    
</body>
</html>